@font-face {
	font-family: Programma;
	src: url(../fonts/Programma-Bold.woff2);
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url(../fonts/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url(../fonts/AtkinsonHyperlegible-Bold.ttf);
	font-weight: bold;
}

html {
	box-sizing: border-box;
	font-size: 17px;
	background-color: #000;
	color: #CCC;
	scrollbar-color: #789 #223;
}

* {
	box-sizing: inherit;
	font-family: 'Atkinson Hyperlegible';
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

#menu {
	width: 20%;
	position: fixed;
}

#menu a {
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	padding: 0 15px;
	line-height: 50px;
	vertical-align: middle;
	border-width: 0;
	border-bottom: 2px solid #444;
	width: 100%;
	color: #AAA;
	background-color: #000;
	cursor: pointer;
}

#menu a .ti {
	margin-right: 20px;
}

#menu a:hover {
	background-color: #222;
	color: #FFF;
}

#menu a.router-link-active {
	border-bottom: 2px solid #07A;
	background-color: #222;
	color: #FFF;
}

#menu a.router-link-active .ti {
	color: #9CF;
}

main {
	width: 60%;
	margin: 0 auto;
	padding: 40px;
}

#menu-toggle {
	display: none;
}

@media (max-width: 768px) {
	#menu-toggle {
		display: block;
		position: fixed;
		width: 55px;
		height: 55px;
		top: 5px;
		left: 5px;
		font-size: 20px;
		background-color: #222;
		border: 2px outset #444;
		color: #EEE;
		cursor: pointer;
	}

	#menu {
		display: block;
		width: 60px;
		text-align: center;
		top: 70px;
	}
	#menu a .ti {
		margin: 0;
	}
	#menu .menu-option {
		display: none;
	}
	main {
		width: 100%;
		padding: 80px;
	}
	#menu.menuOpen {
		width: 100%;
		text-align: left;
	}
	#menu.menuOpen a .ti {
		margin-right: 20px;
		padding-left: 5px;
	}
	#menu.menuOpen .menu-option {
		display: inline;
	}
}

textarea {
	width: 100%;
	margin-bottom: 10px;
	height: 70px;
	border: 1px solid #444;
	border-radius: 10px;
	min-height: 50px;
	resize: vertical;
	padding: 10px 5px;
	background-color: #222;
	color: #AAA;
	font-size: 1em;
}

textarea:focus {
	outline: none;
	border-color: #07F;
	color: #FFF;
}

label {
	float: left;
	text-align: right;
}

.btn-submit {
	float: right;
	background-color: #038;
	color: #FFF;
	padding: 13px 25px;
	font-size: 15px;
	border-radius: 10px;
	font-weight: bold;
	text-decoration: none;
	border: 3px outset #038;
	cursor: pointer;
}

.btn-submit:disabled {
	background-color: #222;
	color: #444;
	border-color: #222;
	cursor: default;
}

.note-box {
	border: 1px solid #333;
	padding: 15px 25px;
	background-color: #111;
}

.note-content {
	margin-top: 10px;
	white-space: pre-wrap;
}

a.user-pubkey {
	font-family: Programma, monospace;
	display: inline-block;
	width: 10ch;
	overflow: hidden;
	text-overflow: clip;
	box-sizing: content-box;
	background-color: #444;
	padding: 0.5ex 0 0.5ex 1ch;
	border-right: 1ch solid rgba(0, 0, 0, 0);
	border-radius: 1ex;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}

a.note-date {
	color: #AAA;
	font-size: 0.9em;
	float: right;
}

form {
	overflow: auto;
}

.alert {
	margin: 10px 0;
	border: 1px solid #07A;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: #013;
	display: flex;
	align-items: middle;
}

.alert.alert-red {
	border-color: #A33;
	background-color: #300;
}

.alert a {
	color: #EEE;
}

.alert .ti {
	vertical-align: middle;
	margin-right: 10px;
}

.alert .alert-text {
	vertical-align: middle;
}
